<div class="card" style="width: 18rem;" >
  <img src="https://imageproxyb.ifunny.co/crop:x-20,resize:640x,quality:90x75/images/a8cf1d2d0867892b1ecd2ff70669b4aa4e6c4ad5849d50e606b66c592fd13d3d_1.jpg" class="card-img-top">
  <div class="card-body">
    <p class="card-text">O "Cachorro Cururu", como ficou conhecido na internet, é um vira-lata que se tornou viral por causa de sua aparência peculiar. O animal tem uma coluna vertebral mais curta do que o normal, o que faz com que seu corpo fique curvado para baixo.</p>
  </div>
</div>

<div class="card" style="width: 18rem;" >
  <img src="https://www.hojeemdia.com.br/image/policy:1.955118.1680224537:1680224537/image.jpg?w=1280&" class="card-img-top">
  <div class="card-body">
    <p class="card-text">Em janeiro de 1996, a cidade de Varginha, no sul de Minas Gerais, Brasil, foi palco de uma série de eventos misteriosos que ganharam fama mundial como o "Caso do ET de Varginha". Tudo começou com relatos de objetos voadores não identificados (OVNIs) sobrevoando a região.</p>
  </div>
</div>

<style>
    .container {
      display: flex;
      justify-content: space-around;
    }
  </style>