<div class="row">
  <div class="col-sm-6 mb-3 mb-sm-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">O Despertar da Floresta</h5>
        <p class="card-text">Sob o manto da noite, a floresta adormece. As folhas, quietas e serenas, pendem dos galhos como se estivessem em profunda meditação. Os animais, recolhidos em seus ninhos e tocas, sonham com aventuras em terras distantes.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">A Dança das Nuvens</h5>
        <p class="card-text">No palco infinito do céu azul, um espetáculo majestoso se desenrola: a dança das nuvens. Bailarinas etéreas, feitas de vapor e luz, tecem formas mutáveis, ora densas e escuras, ora leves e translúcidas.</p>
      </div>
    </div>
  </div>
</div>